<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pets Diary</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" th:action="@{'/pet/image/' + ${pet.getId()}}">
        <label>Select File</label>
        <input id="imagefile" name="imagefile" type="file" class="file">
        <button type="submit">Submit</button>
    </form>
</body>
</html>