<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pets Diary</title>
</head>
<body>
    <h1>Lista zwierząt</h1>

    <table border="1">
        <thead>
        <tr>
            <td>Imię</td>
            <td>Data urodzenia</td>
            <td>Rasa</td>
            <td>Gatunek</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet:${pets}">
            <td th:text="${pet.name}"></td>
            <td th:text="${pet.dateOfBirth}"></td>
            <td th:text="${pet.breed}"></td>
            <td th:text="${pet.petType}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>