<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pets Diary</title>
</head>
<body>
    <table>
        <tr>
            <td>Imię</td>
            <td th:text="${pet.name}"></td>
        </tr>
        <tr>
            <td>Data urodzenia</td>
            <td th:text="${pet.dateOfBirth}"></td>
        </tr>
        <tr>
            <td>Rasa</td>
            <td th:text="${pet.breed}"></td>
        </tr>
        <tr>
            <td>Gatunek</td>
            <td th:text="${pet.petType.getType()}"></td>
        </tr>
    </table>
    <img th:src="@{'/pet/petimage/' + ${pet.id}}">
</body>
</html>