<nav class="col-lg-2 d-none d-md-block sidebar"
     style="background-color: white; border-right: 4px solid #dee2e6; font-size: 21px; margin-top: 20px; font-weight: 550 "
     th:fragment="left_navbar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column mt-3 list-group list-group-flush">
      <li class="nav-item list-group-item">
        <a class="nav-link active" href="#" style="color: #343a40;">
          Zwierzęta <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link fs-1" href="#" style="color: #343a40;">
          Orders
        </a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="#" style="color: #343a40;">
          Products
        </a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="#" style="color: #343a40;">
          Customers
        </a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="#" style="color: #343a40;">
          Reports
        </a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" href="#" style="color: #343a40;">
          Integrations
        </a>
      </li>
    </ul>
  </div>
</nav>