<!DOCTYPE html>
<html style="height: 100%" lang="pl">
<head>
    <title>Pet's Diary</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8089/css/mystyle.css">
</head>
<body style="height: 100%">
<div style="height:10%;" th:fragment="navbar">
    <nav class="pb-0 navbar navbar-expand-lg main" th:fragment="nav">
        <a class="navbar-brand text-white mr-auto" href="#" style="margin-left:3%">
            <h1 class="font-weight-light">
                <svg width="75px" height="75px" viewBox="0 0 48 48" id="a" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <defs>
                            <style>.b{fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;}</style>
                        </defs>
                        <path class="b" d="M26.1227,43.5c.5641-15.2541-5.5775-20.398-10.4257-23.5907,1.1825-5.7942,5.4274-8.9252,5.4274-8.9252"></path>
                        <path class="b" d="M25.0978,10.3312s-1.9733,3.1927-3.747,3.2592c0,0-.5765-5.8312-.3547-7.0063,1.4412-1.685,4.5452-2.0841,6.3189-2.0841s3.1927,1.1973,3.4366,3.8135c1.685,.0222,3.2814,.7982,3.614,1.5298-.1109,1.8624-1.6185,2.8158-3.0819,3.3701s-2.6606,1.4633-2.6606,2.3502,.3991,4.2348,2.8823,4.7004,6.4076,1.685,6.4076,5.6981-1.3525,3.3479-1.3525,7.2797,.4139,3.0449,.4139,5.0551-.6504,3.784-1.3007,4.9665"></path>
                        <path class="b" d="M32.3332,42.9088s.7391-3.4292,.7391-5.0551-1.3816-3.7392-2.838-5.5725c-1.2564-1.5816-4.5337-.2037-4.4144,3.9035"></path>
                        <path class="b" d="M36.1235,22.1417c3.3046,.3395,5.6105-2.5576,3.6593-6.0459"></path>
                        <path class="b" d="M15.697,19.9093c.2069,.9164,.3769,2.7493,.3769,2.7493-1.1314,0-2.1587,.9578-2.8017,1.3791-1.312,.8596-2.6858,1.1485-2.6378,2.7005,.473,1.2416,2.5941,1.382,4.1313,1.3525l-.0333,.8647c-1.5314,1.4637-4.4233,4.7455-4.4233,8.78,0,4.7004,3.4366,5.5281,5.3877,5.5281s11.6804-4.9184,8.4888-13.5099"></path>
                        <path class="b" d="M7.7078,30.1379c.9164,.0887,1.9215,.2365,1.9215,1.685s-2.1285,2.8084-2.1285,6.2081,2.2837,5.2325,8.1961,5.2325"></path>
                        <path class="b" d="M36.8827,37.0506c-.5586-2.1828-3.101-4.5774-3.8105-4.9321s-.7506,3.236-.2349,4.4486"></path>
                    </g>
                </svg>
                Pet's diary
            </h1>
        </a>
        <div style="float: right;">
            <a th:href="@{'/login'}" role="button" class="btn btn-light btn-lg" style="margin-right: 20px">Logowanie</a>
            <a th:href="@{'/register'}" role="button" class="btn btn-dark btn-lg" style="margin-left: 20px">Rejestracja</a>
        </div>
    </nav>
</div>
<div style="height: 90%" class="container-fluid">
    <div style="height: 100%" class="row">
        <main role="main">
            <div>
                <img style="width: 100vw; max-height: 30vh; object-fit: cover;" th:src="@{/images/pet.jpg}" class="img-fluid" alt="Header strona główna">
            </div>
            <div class="header">
                <h1 class="header">Zarządzaj hodowlą w łatwy sposób</h1>
            </div>
            <div style="margin-top: 4vh; font-family: 'Poppins', sans-serif; text-align: center;">
                <h2>Zobacz ogłoszenia sprzedaży</h2>
                <a th:href="@{'/login'}" role="button" class="btn btn-light btn-lg" style="margin-top: 2vh; margin-right: 2vw;">Ogłoszenia</a>
            </div>
            <div style="margin-top: 4vh;">
                <div class="content">
                    <h3 style="margin-bottom: 3vh;">Dla kogo jest przeznaczona aplikacja?</h3>
                    <p>Aplikacja Pet's Diary powstała z myślą o hodowcach zwierząt domowych, aby ułatwić proces prowadzenia hodowli dzięki łatwemu gromadzeniu danych oraz wyświetlaniu ich w czytelnych tabelach lub przy pomocy wykresów.
                    Umożliwia również publikację ogłoszeń zwierząt gotowych znaleźć nowy dom, aby hodowca mógł w łatwy sposób trafić do osób zainteresowanych kupnem zwierząt.</p>
                </div>
                <div class="content" style="border-left:1px solid black; ">
                    <h3 style="margin-bottom: 3vh;">Co możesz zyskać?</h3>
                    <ul style="text-align: left; font-size: larger;">
                        <li>wszystkie dane hodowli i Twoich zwierząt w jednym miejscu</li>
                        <li>kontrolę nad wydatkami i zyskami hodowli przy pomocy czytelnych wykresów</li>
                        <li>przypomnienia np. o wizytach u weterynarza</li>
                        <li>prezentację nowych miotów przy pomocy ogłoszeń</li>
                        <li>dotarcie do nowych klientów zainteresowanych Twoją hodowlą</li>
                    </ul>
                </div>
            </div>
            <div></div>
        </main>
    </div>
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>